.borderselector {
  overflow-y: scroll;

  &-list {
    padding: 32px;
    width: 100%;
    text-align: center;
  }

  &-button {
    display: inline-block;
    outline: none;
    width: 40%;
    margin: 16px;
    font-family: VT323, monospace;
    font-size: 24px;
    background: black;
    border-color: white;
    color: white;

    &:hover, &:focus {
      cursor: pointer;
      outline: none;
      color: black;
      border-color: black;
      background: white;
    }
  }
}
