.borderselector {
  overflow-y: scroll;

  &-list {
    padding: 32px;
    width: 100%;
    text-align: center;
  }

  &-item {
    @include menuitem;

    width: 40%;
    margin: 16px;
    border-color: $light;

    &:hover, &:focus {
      color: $dark;
      background-color: $light;
      border-color: $dark;
    }
  }
}
