.page, .mainmenu {
  display: inline-block;
  position: relative;
}

.cardface {
  position: relative;
  display: inline-block;
  // overflow-x: visible;
  // overflow-y: hidden;
}

@media all {
  .page {
    height: 278mm; /* Letter size */
    width: 214mm;
    min-height: 278mm; /* Letter size */
    min-width: 214mm;
  }
}

@media screen {
  body {
    background: $dark;
  }
  .page {
    background: $light;
    min-height: 144mm;
    height: 144mm;
    min-width: 117mm;
    width: 117mm;
    margin: auto;
    padding: 2%;
  }
  .mainmenu {
    background: $dark;
    min-height: 144mm;
    height: 144mm;
    min-width: 117mm;
    width: 117mm;
  }
  .cardface {
    display: none;
    min-width: 100%;
    min-height: 100%;
    &--selected {
      display: block;
    }
  }
}

@media print {
  .container {
    margin-top: 46px;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .page {
    margin: auto;
  }
  h1, .mainmenu, .help {
    display: none;
  }
  .cardface {
    width: 48%;
    height: 48%;
    position: absolute;
    box-shadow: none;
  }
  .cardface--front {
    bottom: 0;
    right: 0;
  }
  .cardface--inside {
    top: 0;
    left: 0;
    transform: rotateX(180deg) rotateY(180deg);
  }
}
