.emojiselector {
  overflow-y: scroll;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

  &-list {
    padding: 64px;
    width: 100%;
    text-align: center;
  }

  &-list .emojione {
    width: 64px;
    height: 64px;
  }

  &-list .emoji:hover {
  }

  &-catmenu {
    text-align: center;
  }

  &-catbutton {
    @include btn;
  }

  &-button {
    @include btn;
    padding: 16px;
    margin: 0;
  }
}
