.emojiselector {
  text-align: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

  &-categories {
    &list {
      width: 100%;
      text-align: center;
    }
    &item {
      @include menuitem;
      display: block;
    }
  }

  &-graphics {
    &list {
      width: auto;
      text-align: left;
      padding: 64px;

      .emojione {
        width: 64px;
        height: 64px;
      }
    }

    &item {
      @include menuitem;
      padding: 16px;
      margin: 0;
    }
  }
}
