@import 'https://fonts.googleapis.com/css?family=VT323';
@import 'https://fonts.googleapis.com/css?family=Audiowide';
@import 'https://fonts.googleapis.com/css?family=Coiny';
@import 'https://fonts.googleapis.com/css?family=Coustard';
@import 'https://fonts.googleapis.com/css?family=Fascinate';
@import 'https://fonts.googleapis.com/css?family=Knewave';
@import 'https://fonts.googleapis.com/css?family=Limelight';
@import 'https://fonts.googleapis.com/css?family=Monoton';
@import 'https://fonts.googleapis.com/css?family=Pacifico';
@import 'https://fonts.googleapis.com/css?family=Rye';
@import 'https://fonts.googleapis.com/css?family=Sail';
@import 'https://fonts.googleapis.com/css?family=Ultra';

.font--audiowide { font-family: Audiowide, sans-serif; }
.font--coiny     { font-family: Coiny, sans-serif; }
.font--coustard  { font-family: Coustard, serif; }
.font--fascinate { font-family: Fascinate, sans-serif; }
.font--knewave   { font-family: Knewave, cursive; }
.font--limelight { font-family: Limelight, fantasy; }
.font--monoton   { font-family: Monoton, fantasy; }
.font--pacifico  { font-family: Pacifico, cursive; }
.font--rye       { font-family: Rye, fantasy; }
.font--sail      { font-family: Sail, cursive; }
.font--ultra     { font-family: Ultra, serif; }

