.fontselector {
  overflow-y: scroll;

  &-list {
    padding: 32px;
    width: 100%;
  }

  &-button {
    @include btn;
    padding: 4px;
    width: 100%;
    font-size: 48px;
    line-height: 64px;
    margin: 0;
  }
}
