.fontselector {
  overflow-y: scroll;

  &-list {
    padding: 32px;
    width: 100%;
  }

  &-button {
    border: 0;
    outline: none;
    background: black;
    padding: 4px;
    width: 100%;
    font-size: 48px;
    line-height: 64px;
    margin: 0;
    color: white;
    &:hover, &:focus {
      cursor: pointer;
      outline: none;
      color: black;
      background: white;
      border-color: white;
    }
  }
}
