.main {
  margin-top: 2rem;
  width: 234mm;
  display: flex;
  margin: auto;
}
// .mainmenu {
//   display: inline-block;
//   text-align: center;
//   &-button {
//     @include btn;
//     width: 100%;
//     display: block;
//     text-align: left;
//   }
// }



.keyboardmenu {
  display: inline-block;
  text-align: center;
  &-item {
    @include menuitem;
    width: 100%;
    display: block;
    text-align: left;
  }
}

.fontselector-menu {
  padding: 32px;
  width: 100%;
  display: inline-block;
  text-align: center;
  list-style: none;
  &-item {
    @include menuitem;
    padding: 4px;
    width: 100%;
    font-size: 48px;
    line-height: 64px;
    margin: 0;
  }
}

.emojiselector-menu {
  list-style: none;
  text-align: left;
  display: inline-block;
}
