.menu {
  width: 100%;
  display: block;
  text-align: center;
  &-button {
      font-size: 24px;
      color: white;
      background: 0;
      border: none;
      text-transform: uppercase;
      font-family: 'VT323', monospace;
    &:hover, &:focus {
      cursor: pointer;
      outline: none;
      color: black;
      background: white;
    }
  }
}
