<h1 class="emoji-graphic-selector__header">Choose a Graphic</h1>

{{#keyboard-menu class="emoji-graphic-selector__list"
  keyboardPriority=1
  options=emojiList
  selectAction=(action graphicSelectAction)
  cancelAction=(action cancelAction)
  as |currentIndex select|}}
  {{#each emojiList as |emoji index|}}
    <li role="button" class="emoji-graphic-selector__item {{if (eq index currentIndex) "focus"}}"
      {{action select index}}>
      <div class="emoji emojione emojione-{{emoji.unicode}}"></div>
    </li>
  {{/each}}
{{/keyboard-menu}}