<h1>Choose a Font</h1>
<div class='fontselector-list'>
{{#keyboard-menu class='fontselector-menu'
  keyboardPriority=1
  options=fonts
  selectHandler=(action 'chooseFont')
  cancelHandler=cancelHandler
  as |currentIndex select|}}
  {{#each fonts as |font index|}}
    <li class='fontselector-item {{if (eq index currentIndex) 'focus'}} {{class-for 'font' font}}'
    role='menuitem'
    tabindex='-1'
    {{action select index}}>
      {{font}}
    </li>
  {{/each}}
{{/keyboard-menu}}
</div>