<div class='text {{class-for 'font' font}}'>
{{#each text as |text index|}}
  {{fancy-text
    text=text
    index=index
    editing=active
    activeCol=activeCol
    active=(and (eq index activeRow) active) updateText=updateText
    select=(action 'selectItem')}}
{{/each}}
</div>