{{#keyboard-menu class='mainmenu'
  keyboardPriority=0
  options=options
  selectHandler=selectHandler
  as |currentIndex select|}}
  {{#each options as |option index|}}
    <li
      class='mainmenu-item keyboardmenu-item {{if (eq index currentIndex) 'focus'}} {{class-for classPrefix option.value}}'
      role='menuitem'
      tabindex='-1'
      {{action select index}}>
      {{option.label}}
    </li>
  {{/each}}
{{/keyboard-menu}}
