<h1 class='emoji-category-selector__heading'>Choose a Category</h1>

{{#keyboard-menu class='emoji-category-selector__list'
  keyboardPriority=1
  options=categoryList
  selectHandler=(action 'chooseCategory')
  cancelHandler=cancelHandler
  as |currentIndex select|}}
    {{#each categoryList as |category index|}}
      <li class='emoji-category-selector__item {{if (eq index currentIndex) 'focus'}}'
      {{action 'chooseCategory' category}}>{{category}}</li>
    {{/each}}
  {{/keyboard-menu}}