<h1 class='border-selector__heading'>Choose a Border</h1>
<div class='border-selector__list'>
  {{#keyboard-menu class='border-selector__menu'
    keyboardPriority=1
    options=borders
    selectHandler=(action 'chooseBorder')
    cancelHandler=cancelHandler
    as |currentIndex select|}}
    {{#each borders as |border index|}}
      <li class='border-selector__item {{if (eq index currentIndex) 'focus'}} {{class-for 'border' border}}'
      {{action 'chooseBorder' border}}>
        {{border}}
      </li>
    {{/each}}
  {{/keyboard-menu}}
</div>